$bgHeader: rgb(254, 254, 254);
$bgBody: rgb(241, 242, 243);
$white: #fff;
$userName: rgb(40, 50, 60);
$lightBlack: rgb(20, 25, 30);
$gray: rgb(140, 145, 150);
$lightGray: rgb(140, 150, 160);
$bgMyself: rgb(250, 251, 251);
$primary: rgb(0, 142, 232);