html, body {
  background: $bgBody;
  color: #fff;
  user-select: none;
}
@include tip;
#app {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0;
  background: url(//cdn.max-c.com/@/heybox/imgs/28b1bc2083bf4ef487284aaa8fde0f31) no-repeat top;
  background-size: 100vw;
  background-color: rgb(27, 40, 56);
}
.content {
  width: calc(50vw - 1px);
  .server-wrap {
    position: relative;
    width: 320px;
    height: 44px;
    line-height: 44px;
    background-color: $bgServer;
    color: $lightGray;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    i.triangle {
      display: block;
      position: absolute;
      right: 32px;
      top: 50%;
      transform: translateY(-4px);
      width: 0;
      height: 0;
      border-width: 7px;
      border-style: solid;
      border-color: $lightGray transparent transparent transparent;
    }
    .server {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 44px;
      line-height: 44px;
      border: none;
      opacity: 0;
    }
  }
  .user-wrap {
    display: flex;
    padding: 44px 0;
    .avatar-wrap {
      width: 60px;
      height: 60px;
      border-radius: 4px;
      border: solid 2px $lightDark;
      margin-left: 78px;
      overflow: hidden;
      img {
        border-radius: 4px;
        width: 60px;
        height: 60px;
      }
    }
    .nickname {
      height: 60px;
      line-height: 60px;
      text-indent: 16px;
      font-size: 28px;
      width: 220px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      color: #fff;
    }
  }
  .compare-info {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 26px 28px;
      color: $gray;
      .desc {
        font-size: 22px;
      }
      .score {
        font-family: Helvetica;
        font-size: 32px;
        font-weight: bold;
        .time {
          font-size: 22px;
        }
        &.win {
          color: $winColor;
        }
      }
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
#radar {
  height: 480px;
  width: 100vw;
  .c-box {
    .left, .right .center{
      font-family: SanFranciscoText PingFang-SC, Arial, Verdana, Sans-serif;
    }
    .center {
      text-align: center;
    }
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
  }
 
  
}

.divide {
  width: 1px;
  background: transparent svg(square param(--color 'rgba(241,242,243, .1)' ));
}
.loading {
  position: fixed;
  background: #f1f2f3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  .loading-circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    margin: auto;
  }
}
.fa-spin-round {
  -webkit-animation: fa-spin-round 0.9s infinite linear;
  animation: fa-spin-round 0.9s infinite linear;
}

@-webkit-keyframes fa-spin-round {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes fa-spin-round {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.hide {
  visibility: hidden;
}
.c-box {
  font-size: 26px;
  div:first-child {
    font-size: 20px;
  }
}
