@import '../../normalize';
@import '../../reset';
@import '../../helper';

@svg square { 
  @rect { 
    fill: var(--color, black);
    width: 50%;
    height: 100%; 
  } }


@import './var';
@import './layout';

