$bgHeader: rgb(254, 254, 254);
$bgBody: rgb(241, 242, 243);
$white: #fff;
$lightBlack: rgb(20, 25, 30);
$lightGrey: rgb(100, 105, 110);
$grey: rgb(140, 145, 150);
$bgMyself: rgb(250, 251, 251);
$primary: rgb(0, 142, 232);

$headerH: 167px;