$userH: 44px;
$fsName: 24px;
$fsTime: 20px;
$fsUpZhu: 18px;
$upZhuH: 24px;
$topocPad: 0 20px 0 8px;
$topicText: 24px;
$topicImgH: 32px;
$topicImgPad: 0 8px 0 4px;
$iconRighH: 8px;
$topicTextColor: rgb(0, 129, 255);
$cUserName: rgb(20, 25, 30);
.author-wrap {
  height: $userH;
  display: flex;
  padding: 20px;
  .avatar-wrap {
    width: $userH;
    height: $userH;
    padding-right: 12px;
    img {
      max-width: 100%;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  .user-wrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin: 0;
      &.user-name {
        display: flex;
        align-items: center;
        font-size: $fsName;
        font-weight: 600;
        color: $cUserName;
      }
      &.time {
        font-size: $fsTime;
        color: $grey;
      }
    }
    span.up-zhu {
      display: inline-block;
      font-weight: 400;
      padding: 2px 10px;
      border-radius: 2px;
      background: #51b0eb;
      color: $white;
      margin-left: 8px;
      font-size: $fsUpZhu;
    }
    img {
      height: $topicImgH;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .medales-wrap {
    position: relative;
    width: 32px;
    height: 32px;
    transform: translateX(-4px);
    img {
      height: 26px;
      width: 26px;
      position: absolute;
      top: 2px;
      &:first-child {
        left: 0px;
        z-index: 1000;
      }
      &:not(:first-child) {
        position: absolute;
        left: 4px;
        z-index: 100;
      }
      &:last-child {
        position: absolute;
        left: 8px;
        z-index: 1;
      }
    }
  }
}