@function calcTop1 ($level) {
  @return $baseTop + $level * ($matchH + $matchMarTop)
};
@function calcTop2 ($level) {
  @return $baseTop2 + $level * ($matchH2 + $matchMarTop2)
};

$matchMarTop: 96px;
$matchMarTop2: 236px;
$baseTop: 60px;
$baseTop2: 130px;
$baseTop3: 270px;
$matchH: 184px;
$matchH2: 324px;
$matchH3: 606px; 
.no__scroll {
  overflow: hidden;
  .knockout-win {
    transform: translateX(60px);
  }
}
.knockout-win.win-6-0 {
  height: 500px;
  background: url(../../../asstes/win_6_0.png) no-repeat center;
  background-size: 100%;
  overflow: hidden;
  .hide__Champiom {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #fff;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  .win__champion {
    width: 64px;
    height: 64px;
    transform: translateX(-10px) translateY(-10px);
  }
  .match {
    z-index: 11;
  }
  .col-1 {
    .match {
      top: 290px;
      height: 150px;
      &-0 {
        left: 46px;
        .home-box , .away-box {
          &:after {
            transform: translate(-62px ,3px);
          }
        }
      }
      &-1 {
        right: 46px;
        .home-box , .away-box {
          &:after {
            transform: translate(-200px, 3px);
          }
        }
      }
    }
  }
  .col-2 {
    .match {
      height: 334px;
      top: 54px;
      &-0 {
        left: $baseTop2;
        .home-box , .away-box {
          &:after {
            transform: translate(-76px ,3px);
          }
        }
      }
      &-1 {
        right: $baseTop2;
        .home-box , .away-box {
          &:after {
            transform: translate(-190px ,3px);
          }
        }
      }
    }
  }
  .match-final {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 44px;
    width: 346px;
    top: 200px;
    left: 200px;
    p.time {
      text-align: right;
    }
    .home-box:after {
      left: 54px;
      top: 26px;
    }
    .away-box:after {
      left: -22px;
      top: 26px;
    }
    .away-box::before {
      display: none;
    }
    .champion {
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
      .time {
        transform: translateX(-20px);
      }
      img {
        width: 64px;
        height: 64px;
      }
    }
  }
}
