html ,body {
  overflow-x: hidden;
}

img[src=""] {
  opacity: 0;
}
.select-bar {
  height: 74px;
  display: flex;
  background: $silver;
  border-bottom: solid 4px $gray;
  li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark;
    font-size: 24px;
    &.active {
      background: #fff;
    }
  }
}

.title {
  background: $gray;
  p {
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    color: $dark;
    padding: 28px 20px 12px;
    span {
      display: inline-block;
      line-height: 40px;
      transform: translateY(4px)
    }
    img {
      display: inline-block;
      width: $logoH;
      height:  $logoH;
    }
  }
}

.group {
  .tab-title, .tab-body {
    display: flex;
    padding: 0 20px;
    background: #fff;
    color: $lightGray;
    font-family: Helvetica;
    li {
        font-size: 22px;
        height: 56px;
        line-height: 56px;
        text-align: center;
        &.rank, &.score {
          flex-basis: 50px;
        }
        &.score {
          margin-left: 100px;
        }
        &.desc {
          flex-basis: 215px;
        }
        &.team {
          flex-basis: 315px;
          text-align: left;
          text-indent: 150px;
        }
    }
  }
  .tab-body {
    li {
      padding: (46px - 28px) 0;
      &:not(.desc) {
        color: $dark;
      }
      &.team {
        display: flex;
        justify-content: flex-start;
        .img-box {
          width: 52px;
          height: 52px;
          margin-left: 150px - 52px - 18px;
          margin-right: 18px;
          img {
            width: 100%;
            height: auto;
          }
        }
        p {
          text-indent: 0;
          text-align: left;
        }
      }
    }
  }
}

.block-4 {
  height: 4px;
  background: $gray;
}

.divide {
  height: 1px;
  background: $gray;
  transform: scaleY(.5);
  // background: $gray svg(square param(--color $gray));
}

.hide {
  display: none!important;
}
.knockout-match {
  position: relative;
  .match {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 44px;
    height: 184px;
    img {
      width: 44px;
      height: 44px;
    }
    &.match-final {
      .win:after {
        font-size: 28px;
        transform: translateY(-4px)
      }
    }
    .home-box, .away-box {
      position: relative;
      min-width: 44px;
      min-height: 44px;
      &.arrow-up
      {
        &:before {
          content: '';
          position: absolute;
          right: -12px;
          bottom: 0;
          width: 16px;
          height: 20px;
          background: url(https://cdn.max-c.com/image/2017Summit/m/arrow_up.png) no-repeat center;
          background-size: cover;
        }
      }
      &.arrow-down
      {
        &:before {
          content: '';
          position: absolute;
          right: -12px;
          bottom: 0;
          width: 16px;
          height: 20px;
          background: url(https://cdn.max-c.com/image/2017Summit/m/arrow_down.png) no-repeat center;
          background-size: cover;
        }
      }
      &.win:after {
        color:  #f6aa1a;
      }
      &:after {
        content:  attr(data-point);
        position: absolute;
        left: 148px;
        font-size: 22px;
        color: #28323c
      }
    }
    .home-box:after {
      top: 24px;
    }
    .away-box:after {
      bottom: 24px;
    }
  }
}

p.time {
  white-space: nowrap;
  font-size: 18px;
  width: 90px;
  text-align: center;
  transform: translateX(-(90px - 44px));
  color: #8c96a0;
  &.final {
    position: absolute;
    top: 0;
    left: 34px;
  }
}
.lose-win {
  p.time {
    transform: translateX(0);
  }
}

.rounds-game__box {
  display: flex;
  background: #fff;
  li {
    flex-basis: 0%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    font-size: 22px;
    &:nth-child(2) {
      color: $dark;
    }
  }
}
.rounds-game__box {
  &--title, &--body {
    @extend .rounds-game__box
  }
  &--title {
    li {
      color: $lightGray;
      height: 56px;
    }
  }
  &--body {
    li {
      background: #fff;
      color: $lightGray;
      &.team {
        color: $dark;
        img {
          width: 52px;
          margin: 0 8px 0 0;
        }
      }
      &.win {
        color: $cPointWin;
      }
      &.total-point {
        color: $dark;
        font-size: 26px;
      }
      .team__name {
        max-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;
      }
      img {
        width: 36px;
        margin-left: 6px;
      }
    }
  }
}