$btnWrapWidth: 53px;
$calanderBoxMar:  34px $btnWrapWidth 0;
$calanderCardH:  220px;
$calanderCardW:  220px;
$btnWidth: 24px;
$btnHeight: 48px;
$buttonMar: 0;
$cardTitleH: 74px;
$cardBodyPad: 10px 0;
$gameTieleSize: 24px;
$gameStateSize: 14px;
$cardTimeSize: 16px;
$gameTitleSize: 16px;

.calander__wrap {
  display: none;
  width: $mainWidth;
  height: $calanderHeight;
  position: relative;
  background: transparent;
  overflow: hidden;
  .calander__box {
    margin: $calanderBoxMar;
    height: $calanderCardH;
    overflow: hidden;
    .view__box {
      position: relative;
      display: flex;
      height: 100%;
      flex-wrap: nowrap;
      transition: all .8s ease-in-out;
      .win__table {
        user-select: none;
        position: absolute;
        width: 360px;
        background: $tableBg;
        &::after, &::before {
          content: '';
          position: absolute;
          // background: #222;
          top: 50%;
          z-index: 1;
          transform: translateY(-50%);
          border-width: 10px 8px 10px 0;
          border-color: transparent $comparedColor transparent transparent;
          border-style: solid;
        }
        &::before {
          left: -8px;
        }
        &::after {
          right: -8px;
          transform: rotateZ(180deg);
        }
        &.right__show {
          &::after {
            display: none;
          }
        }
        &.left__show {
          &::before {
            display: none;
          }
        }
        .table__title {
          @include tableTitle;
        }
        .table__body {
          position: relative;
          flex-grow: 1;
          font-size: 16px;
          overflow-y: scroll;
          background: $tableBg;
          max-height: $calanderCardH - 30px;
          color: $scoreTableBodyFont;
          z-index: 99;
          @include teamImgBox;
          .rank__item {
            display: flex;
            height: 42px;
            cursor: pointer;
            &.table--even {
              background: $oddColor;
            }
            &.table--odd {
              background: $evenColor;
            }
            &.win{
              li:first-child {
                color: #f09e03;
                font-weight: 600;
              }
            }
            li {
              flex-basis: 0%;
              display: block;
              height: 42px;
              line-height: 42px;
              flex-grow: 1;
              text-align: center;
              &:nth-child(2) {
                flex-grow: 3;
                text-align: left;
                text-indent: 20px;
                max-width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @include teamImg;
                .team__img {
                  width: 24px;
                  height: 24px;
                  margin-right: 50px - 24px;
                  img {
                    width: 24px;
                    height: 24px;
                  }
                }
              }
              &:nth-child(3) {
                flex-grow: 1;
                text-align: center;
              }
            }
          }
        }
      }
    }
    .calander__card {
      color: #000;
      min-width: $calanderCardW;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border-radius: 4px;
      margin-right: ($mainWidth - 2 * $btnWrapWidth - $calanderCardNum * $calanderCardW) / ($calanderCardNum - 1);
      user-select: none;
      .arrow {
        border-color: $startColor;
        border-width: 2px;
      }
      &.end {
        .game__desc {
          .game__title {
            color: $endColor;
          }
        }
        .card__title {
          background-position-y: 100%;
        }
        .card__body {
          color: $startColor;
          .game__bo {
            border-color: $startColor;
            cursor: pointer;
          }
        }
      }
      .card__title {
        height: $cardTitleH;
        background: url($assetsPath + "calander_status_douyugold.jpg") no-repeat;
        background-size: 100% 200%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .card__time {
          font-size: $cardTimeSize;
          font-weight: 600;
          margin-bottom: 4px;
        }
        .card__state {
          font-size: $gameStateSize;
        }
      }
      .card__body {
        flex-grow: 1;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: $cardBodyPad;
        color: $endColor;
        .game__title {
          font-weight: 600;
          text-align: center;
          color: $startColor;
          &.game__title--vsinfo {
            font-size: $gameTitleSize
          }
        }
        .game__bo {
          padding: 0 23px;
          height: 24px;
          border-radius: 14px;
          border: solid 2px $endColor;
          text-align: center;
          line-height: 24px;
          font-family: Helvetica;
          font-size: 14px;
          font-weight: bold;
        }
        .vs__info {
          height: 32px;
          text-align: center;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 80%;
          .team--home, .team--away {
            font-size: $gameTieleSize;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 30px;
              margin-right: 12px;
            }
          }
          .vs__text {
            font-size: 16px;
          }
        }
      }
    }
  }
  .calander__button {
    position: absolute;
    width: $btnWidth;
    height: $btnHeight;
    background: url( $assetsPath + "arrow.png");
    background-size: 200%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &--prev, &--prev.button--normal {
      left: $buttonMar;
      background-position: 0 100%;
    }
    &.button--disable {
      cursor: not-allowed;
    }
    &--prev.button--disable {
      background-position: 0 0;
    }
    &--next, &--next.button--normal {
      right: $buttonMar;
      background-position: 100% 100%;
    }
    &--next.button--disable {
      background-position: 100% 0;
    }
  }
}