$btnWrapWidth: 53px;
$calanderBoxMar:  26px $btnWrapWidth 0;
$calanderCardH:  220px;
$calanderCardW:  220px;
$btnWidth: 24px;
$btnHeight: 48px;
$buttonMar: 0;
$cardTitleH: 74px;
$cardBodyPad: 10px 0;
$gameTieleSize: 24px;
$gameStateSize: 14px;
$cardTimeSize: 16px;
$gameTitleSize: 16px;

.calander__wrap {
  display: none;
  width: $mainWidth;
  height: $calanderHeight;
  position: relative;
  background: #222;
  overflow: hidden;
  .calander__box {
    margin: $calanderBoxMar;
    height: $calanderCardH;
    overflow: hidden;
    .view__box {
      display: flex;
      height: 100%;
      flex-wrap: nowrap;
      transition: all .8s ease-in-out;
    }
    .calander__card {
      color: #000;
      min-width: $calanderCardW;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border-radius: 4px;
      margin-right: ($mainWidth - 2 * $btnWrapWidth - $calanderCardNum * $calanderCardW) / ($calanderCardNum - 1);
      user-select: none;
      &.end {
        .game__desc {
          .game__title {
            color: $endColor;
          }
        }
        .card__title {
          background-position-y: 100%;
        }
        .card__body {
          color: $startColor;
          .game__bo {
            border-color: $startColor;
          }
        }
      }
      .card__title {
        height: $cardTitleH;
        background: url($assetsPath + "calander_bg.jpg") no-repeat;
        background-size: 100% 200%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .card__time {
          font-size: $cardTimeSize;
          font-weight: 600;
          margin-bottom: 4px;
        }
        .card__state {
          font-size: $gameStateSize;
        }
      }
      .card__body {
        flex-grow: 1;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: $cardBodyPad;
        color: $endColor;
        .game__title {
          font-weight: 600;
          text-align: center;
          color: $startColor;
          &.game__title--vsinfo {
            font-size: $gameTitleSize
          }
        }
        .game__bo {
          padding: 0 23px;
          height: 24px;
          border-radius: 14px;
          border: solid 2px $endColor;
          text-align: center;
          line-height: 24px;
          font-family: Helvetica;
          font-size: 14px;
          font-weight: bold;
        }
        .vs__info {
          height: 32px;
          text-align: center;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 80%;
          .team--home, .team--away {
            font-size: $gameTieleSize;
	          font-weight: 600;
          }
          .vs__text {
            font-size: 16px;
          }
        }
      }
    }
  }
  .calander__button {
    position: absolute;
    width: $btnWidth;
    height: $btnHeight;
    background: url( $assetsPath + "arrow.png");
    background-size: 200%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &--prev, &--prev.button--normal {
      left: $buttonMar;
      background-position: 0 100%;
    }
    &.button--disable {
      cursor: not-allowed;
    }
    &--prev.button--disable {
      background-position: 0 0;
    }
    &--next, &--next.button--normal {
      right: $buttonMar;
      background-position: 100% 100%;
    }
    &--next.button--disable {
      background-position: 100% 0;
    }
  }
}