$footerW: 222px;
$footerH: 28px;
.footer {
  position: absolute;
  width: $footerW;
  height: $footerH;
  top: 0;
  right: 0;
  a {
    display: block;
    height: $footerH;
  }
  .footer__text {
    position: absolute;
    height: 24px;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .footer__bg {
    position: absolute;
    width: $footerW;
    height: $footerH;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}
.score__wrap {
  .footer {
    top: 16px;
    right: 0;
  }
}