$listH: $rankBoxHeight - $matchH - 40px;
$titleH: 46px;
$wrapW: ($mainWidth - 4 * 20px) / 3 ;
$tableHeight: $matchH * 9;
.ranking {
  display: none;
  padding-top: 40px;
}
.rank--filter {
  @include filterFirst;
  margin-bottom: 0;
  margin-right: 0;
}

.ranking__box {
  position: relative;
  height: $listH;
  width: $mainWidth;
  display: flex;
  overflow: hidden;
  background: transparent;
  box-sizing: border-box;
  padding: 20px 0 3px 0;
  justify-content: space-between;

    .list__wrap {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      flex-basis: 0%;
      &:last-child {
        margin-right: 0;
      }
      .rank__title {
        background: $primary;
        height: $titleH;
        line-height: $titleH;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #000;
      }
      .rank__table {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        flex-grow: 1;
        border: solid 1px $startColor;
        background: $evenColor;
        .table__title {
          height: $tableTitleH;
          display: flex;
          color: $tableTitleColor;
          background: $oddColor;
          @include teamImgBox;
          li {
            line-height: $tableTitleH;
            height: $tableTitleH;
            font-size: 14px;
            text-align: center;
            flex-grow: 1;
            flex-basis: 0%;
            &:nth-child(2) {
              flex-grow: 3;
              text-align: left;
              text-indent: 20px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
            }
            &:nth-child(3) {
              flex-grow: 1;
              text-align: center;
            }
            &.option {
              flex-grow: 1;
              text-align: left;
            }
          }
        }
        .table__body {
          position: relative;
          flex-grow: 1;
          font-size: 16px;
          overflow-y: scroll;
          height: $tableHeight;
          max-height: $tableHeight;
          background: $tableBg;
          color: $scoreTableBodyFont;
          @include teamImgBox;
          .rank__item {
            &.table--even {
              background: $oddColor;
            }
            &.table--odd {
              background: $evenColor;
            }
            &.win{
              li:first-child {
                color: #f09e03;
                font-weight: 600;
              }
            }
            display: flex;
            height: $matchH;
            cursor: pointer;
            li {
              flex-basis: 0%;
              display: block;
              height: $matchH;
              line-height: $matchH;
              flex-grow: 1;
              text-align: center;
              &:nth-child(2) {
                flex-grow: 3;
                text-align: left;
                text-indent: 20px;
                max-width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @include teamImg;
              }
              &:nth-child(3) {
                flex-grow: 1;
                text-align: center;
              }
              &.option {
                flex-grow: 1;
                text-align: left;
                font-size: 12px;
                color: #f09e03;
                text-indent: 4px;
              }
            }
          }
          .data__info {
            @include player_card;
            flex-wrap: wrap;
            overflow: hidden;
            height: auto;
            padding: 10px;
            flex-direction: column;
            .info__card {
              flex-grow: 1;
              flex-basis: 0%;
              margin: 0;
              margin-top: 10px;
              &:first-child{
                margin: 0;
              }
            }
          }
        }
      }
    }
}