$matchH: 60px;
$teamH: 42px;
$baseMarBottom: 20px;
$tableH: 630px;
$tabTitleH: 30px;
$tabBodyH: $tableH - $tabTitleH;
$tableBorderColor: #563217;

.score__wrap {
  display: none;
  width: $mainWidth;
  height: $scoreHeight;
  background:  transparent;
  overflow: hidden;
  color: #a0a0a0;
  position: relative;
  user-select: none;
  .match__group {
    @include filterFirst;
  }
  .team__group {
    height: $teamH;
    // border-top: 2px solid #000;
    margin-bottom: $baseMarBottom;
    display: flex;
    &>li {
      line-height: $teamH;
      height: $teamH;
      display: block;
      flex-grow: 1;
      text-align: center;
      font-size: 16px;
      color: #6c6c6c;
      border-top: 2px solid #000;
      border-right: 2px solid #000;
      border-bottom: 2px solid #000;
      @include liCursor;
      &:last-child {
        border-right: none;
      }
      &.active {
        color: $primary;
        border-bottom: 2px solid $primary;
      }
    }
  }
  .bo__group {
    margin: 0 20px;
    height: $teamH;
    border: 1px solid $tableBorderColor;
    padding: 0 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #a0a0a0;
    margin-bottom: $baseMarBottom;
    li {
      margin-right: 12px;
      height: 28px;
      line-height: 28px;
      background: $endColor;
      color: $boDefaultFontColor;
      padding: 0 18px;
      border-radius: 14px;
      font-size: 14px;
      @include liCursor;
      &:first-child {
        padding: 0 8px;
        border-radius: 0;
        font-size: 16px;
      }
      &.active {
        background: $primary;
        color: #000;
        font-weight: 500;
      }
    }

  }
  .score__table {
    margin: 0 20px;
    height: $tableH;
    border: solid 1px $tableBorderColor;
    .rank__text {
      display: block;
      width: 80px;
      text-align: center;
      flex-grow: 1;
    }
    .tab__title {
      height: $tabTitleH;
      display: flex;
      background: $oddColor;
      font-size: 14px;
      li {
        display: block;
        height: $tabTitleH;
        line-height: $tabTitleH;
        flex-grow: 1;
        text-align: center;
        flex-basis: 0%;
        &.team {
          flex-grow: 2;
        }
        &.rank, &.team {
          text-align: left;
        }
      }
    }
    .tab__body {
      position: relative;
      font-size: 16px;
      height: $tabBodyH;
      max-height: $tabBodyH;
      overflow-y: scroll;
      background: $tableBg;
      color: $scoreTableBodyFont;
      .team__box {
        &.table--even {
          background: $oddColor;
        }
        &.table--odd {
          background: $evenColor;
        }
        &.win{
          li.rank {
            color: #f09e03;
            font-weight: 600;
          }
        }
        display: flex;
        height: $matchH;
        cursor: pointer;
        li {
          flex-basis: 0%;
          display: block;
          height: $matchH;
          line-height: $matchH;
          flex-grow: 1;
          text-align: center;
          &.team {
            flex-grow: 2;
          }
          &.rank {
            font-size: 20px;
          }
          &.rank, &.team {
            text-align: left;
          }
          &.option {
            font-size: 12px;
            color: #f09e03;
          }
        }
      }
      .data__info {
        @include player_card;
      }
    }
  }
}