$primary:  #f09e03;
$assetsPath: "../../../asstes/pubg_match/";
$comparedColor: darken($primary, 38.2%);
$startColor: #563217;
$endColor: #646464;
$oddColor: #211a16;
$evenColor: #141414;

$mainWidth: 1210px;
$calanderHeight: 300px;
$scoreHeight: 902px;