body {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: $mainWidth;
  overflow: hidden;
  margin: 0 auto;
  background: #222;
}