$primary: #ffbd1f;
$white: #fff;
$black: #000;
$lightBlack: #292932;
$lightBlack: #333333;
$lightGrey: #a0a0a0;
$tinyGrey: #6c6c6c;
// card
$darkPrimary: #a1750c;
$grey: #646464;

$mainWidth: 1100px;


// calander 


// table
$tableEven: rgba(41, 41, 50, 0.2);
$tableOdd: #121318;
$tableBorder: solid 2px #292932;

$waitingImgSrc: '//cdn.max-c.com/@/heybox/imgs/8e9a23bf62208a6c34c1ea3c971f92c0';
