
$arrowH: 6px;
$headerH: 30px;
html, body {
  background:  #f1f2f3;
  #app {
    background: #fff;
  }
}
@mixin stateColor($color){
  li {
    &.state {
      background: $color;
    }
  }
}
.block-top {
  height: 5px;
  background: #f1f2f3;
}
header {
  width: 100%;
  height: $headerH;
}
.tab-title, .tab-body{
  display: flex;
  margin: 0 30px 0 10px;
  justify-content: space-between;
  height: $headerH;
  li {
    @include scaleFont(11px);
    height: $headerH;
    line-height: $headerH;
    text-align: center;
    color: $grey;
    &.sever {
      width: 60px;
      font-weight: bold;
    }
    &.state {
      width: 48px;
    }
    &.ping {
      width: 30px;
    }
    &.data {
      width: 50px;
    }
    &.arrow-box {
      width: 12px;
    }
  }
}

.divide {
  width: 100%;
  height: 1px;
  background: $lightGrey;
  transform: scaleY(.5);
}
.tab-body {
  height: 20px;
  align-items: center;
  padding: 12px 0;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 12px;
    &.sever {
     font-size: 12px;
     color: $lightBlack;
    }
    &.state {
      @include scaleFont(10px);
      color: $white;
      background: $cNormal;
      border-radius: 2px;
    }
    &.ping {
      color: $lightBlack;
      &.normal {
        color: $cNormal;
      }
      &.delay {
        color: $cDelay;
      }
      &.unusual {
        color: $cUnusual;
      }
      &.wrong {
        color: $cWrong;
      }
    }
    &.data {
      color: $lightBlack;
      &.stop {
        color: $silver;
      }
    }
  }
}


ul {
  &.normal {
    @include stateColor($cNormal);
  }
  &.delay {
    @include stateColor($cDelay);
  }
  &.unusual {
    @include stateColor($cUnusual);
  }
  &.wrong {
    @include stateColor($cWrong);
  }
  &.stop {
    li.data {
      color: $silver;
    }
  }
}

i.arrow {
  width: $arrowH;
  height: $arrowH;
  border: solid 2px $silver;
  transform: rotate(45deg);
  margin-top: -$arrowH;
  border-radius: 1px;
  border-top-color: transparent;
  border-left-color: transparent;
  &.open {
    transform: rotate(225deg);
    margin-top: $arrowH;
  }
}

.state-time-box {
  position: relative;
  background: #fbfbfc;
  p.title {
    @include scaleFont(10px, 50%);
    text-align: center;
    padding: 10px 0 8px;
    color: $lightSilver;
  }
  ul.time-start, ul.time-end {
    position: absolute;
    width: calc(100vw - 40px);
    left: 20px;
    display: flex;
    justify-content: space-between;
    li {
      width: 14px;
      span {
        display: inline-block;
        @include scaleFont(10px, 50%);
      }
    }
  }
  ul.time-start {
    top: 60px;
  }
  ul.time-end {
    top: 110px;
  }
  ul.time-line {
    padding: 0 20px;
    overflow: hidden;
    &.no-desc {
      li {
        margin-bottom: 6px;
      }
    }
    li {
      float: left;
      width: 8px;
      margin-right: calc((100vw - 40px - 240px) / 30);
      margin-bottom: 20px;
      height: 28px;
      background: $lightGrey;
      &.normal {
        background: $cNormal;
      }
      &.delay {
        background: $cDelay;
      }
      &.unusual {
        background: $cUnusual;
      }
      &.wrong {
        background: $cWrong;
      }
    }
  }
  ul.time-text {
    padding: 6px 12px 10px;
    display: flex;
    justify-content: space-between;
    li {
      @include scaleFont(10px);
    }
  }
}
.show-rest {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: $grey;
  background: rgba(#f1f2f3, .4);
}
.rest-box {
  height: 0;
  position: relative;
  overflow: hidden;
  transition: height 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  // visibility: hidden;
  // height: 0;
  // overflow: hidden;
}
.hightAuto {
  height: 100%;
}
.arrow-sq {
  margin-left: 4px;
  &.down, &.up {
    display: inline-block;
    width: 0;
    height: 0;
    border: 4px solid #8c9196;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: none;
    transform: translateY(-1px);
  }
  &.up {
    transform: rotate(180deg) translateY(2px);
  }
}