// collor
$cNormal: rgb(50, 184, 70);
$cDelay: rgb(255, 187, 0);
$cUnusual: rgb(255, 110, 20);
$cWrong: rgb(224, 36, 61);

// 字体颜色
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$lightBlack: rgb(20, 25, 30);
$silver: rgb(200, 205, 210);
$lightSilver: rgb(100, 105, 110);
$grey: rgb(140, 145, 150);
$lightGrey: rgb(241, 242, 243);
$bgTimeBox: rgb(251, 251, 252);

