@include blockSpace();
$btnH: 64px;
html,body {
  height: 100vh;
  overflow: hidden;
}
#app {
  height: 100vh;
  position: relative;
}
div.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: $headerH;
  display: flex;
  align-items: center;
  padding: 12px 0;
  .heybox-logo-wrap {
    display: flex;
    flex-grow: 1;
    padding-left: 20px;
    .logo-box {
      margin-right: 16px;
      img {
        width: $headerH;
        height:$headerH;
        border-radius: 8px;
      }
    }
    .desc-box {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .app-name {
        color: $lightBlack;
        font-size: 26px;
      }
      .desc {
        color: $grey;
        font-size: 20px;
      }
    }
  }
  .open-app {
    width: 136px;
    height: 56px;
    border-radius: 4px;
    background: linear-gradient(to right, $cOpenAppStart, $cOpenAppEnd);
    margin-right: 20px;
    a {
      text-align: center;
      display: block;
      height: 100%;
      color: #fff;
      line-height: 56px; 
      font-size: 24px;
    }
  }
}
.banner-wrap {
  width: 100vw;
  height: calc(100vh - 416px - 84px - 96px);
  background: url(//cdn.max-c.com/@/heybox/imgs/05dd84d57707f1af2e9af5b3135d37b8) no-repeat;
  background-size: cover;
  img {
    width: 68.5vw;
    margin: 0 auto;
  }
  h1 {
    font-size: 28px;
    text-align: center;
    color: #14191e;
    font-weight: 500;
    padding: 40px 0 20px;
  }
  p.desc {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #64696e;
    padding-bottom: 28px;
  }
}

video, .current-video {
  width: 100%;
  height: 416px;
  .vjs-big-play-button {
    width: 100px;
    height: 80px;
    border: 0;
    border-radius: 8px;
    background: rgba(0,0,0,.8);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.tab-btns {
  height: $btnH;
  display: flex;
  justify-content: space-between;
  background: $bgDefaultBtn;
  .btn-video, .btn-suggest {
    -webkit-tap-highlight-color: transparent;
    flex-grow: 1;
    line-height: $btnH;
    text-align: center;
    font-size: 12px;
    color: $lightBlack;
    &.active {
      background: #fff;  
    }
  }
}
.author-wrap {
  background: #fff;
}
.tab-content {
  .videos, .suggests {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: #fff;
    justify-content: space-between;
    li {
      position: relative;
      width: calc(50vw - 20px - 1px);
      height: 27.68vw;
      background: #222;
      margin-bottom: 2px;
      a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
      }
      p {
        &.video-duration {
          position: absolute;
          bottom: 16px;
          right: 18px;
          font-size: 20px;
          color: #fff;
        }
      }
    }
  }
  .suggests li {
    background: #eee;
  }
}
.hide {
  height: 0;
  overflow: hidden;
  padding: 0!important;
  margin: 0!important;
}
