$headerH: 0.9067rem;
$cOpenAppStart: rgb(0, 190, 255);
$cOpenAppEnd: rgb(0, 129, 255);

$bgBody: rgb(241, 242, 243);
$white: #fff;
$lightBlack: rgb(20, 25, 30);
$lightGrey: rgb(100, 105, 110);
$grey: rgb(140, 145, 150);
$bgPage: rgb(241, 242, 243);
$bgDefaultBtn: rgb(247, 248, 249);